<div class=" p-1 splide__slide cursor-pointer">

	<div class=" w-40 border border-white rounded-2xl text-[11px] p-1">
		<div class=" text-[10px] text-[#cecece] text-center ">
			{{ gameDateTime }}
		</div>

		<div class="flex justify-between items-center text-center">

			<div class=" text-center">
				<div class="text-[#FF3366]">
					{{ homeSpread }}</div>
				<img src="/wp-content/themes/betseige/assets/images/img/teams/{{ league }}/{{ homeTeam }}.png" alt={{ homeTeam|lower }} class=" h-6 w-auto  object-cover rounded-full"/>{{ homeTeam}}

			</div>
			<div class="text-xl font-bold text-[#ECE9E4]">
				V/S
				<div class="text-[12px] flex gap-1">
					Total
					<div>
						{{ total }}
					</div>
				</div>
			</div>
			<div>
				<div class=" text-[#03DAC6]">{{ awaySpread }}</div>
				<img src="/wp-content/themes/betseige/assets/images/img/teams/{{ league}}/{{ awayTeam }}.png" alt="{{ awayTeam|lower }}" class=" h-6 w-auto  object-cover rounded-full"/>
				{{ awayTeam }}

			</div>


		</div>

	</div>

</div>
