<!DOCTYPE html>
<html class="html dark {{ body_class }}" {{ site.language_attributes }}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="google-site-verification" content="-DLTb23W4oveFW4sg-AY77aueij4K2kcYQbz30M7jCg" />
    <link rel="alternate" type="application/rss+xml" title="{{- theme.labels.feed|replace({'%s': site.title}) -}}" href="{{ site.rss2|e('esc_url') }}">
    {{ function('wp_head') }}
  </head>
  
  <body class="bg-[#f3f3f3] dark:bg-[#000] text-black dark:text-white ">
    {{ function('wp_body_open') }}
    <a href="#mainContent" class="visuallyHidden-focusable">
      {{- theme.labels.skipToMainContent|e -}}
    </a>
    {% block layout %}
      <div class="pageWrapper ">
        <header class="mainHeader">
          {% block header %}
            {{ renderComponent('NavigationMain') }}
            {{ renderComponent('NavigationBurger') }}
          {% endblock %}
        </header>
        <main id="mainContent" class="mainContent w-screen p-5   max-w-[1574px] m-auto" aria-label="{{- theme.labels.mainContentAriaLabel|e -}}">
          {% if function('post_password_required') %}
            {{ function('get_the_password_form') }}
          {% else %}
            {% block content %}
              No <code>{{ '{% block content %}' }}</code> defined for this template.
            {% endblock %}
          {% endif %}
        </main>
        <footer class="mainFooter">
          {% block footer %}
            {{ renderComponent('NavigationFooter') }}
          {% endblock %}
        </footer>
      </div>
    {% endblock %}
    <div class="wpFooter">
      {{ function('wp_footer') }}
    </div>
  </body>
</html>
